/* GLYPHICONS HALFLINGS 1.9.2 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff");
}

[class*="halfling-"] {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.halfling-spin {
  animation: halfling-spin 2s infinite linear;
}
@keyframes halfling-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.halfling-flip {
  transform: scaleX(-1);
}
.halfling-flipv {
  transform: scaleY(-1);
}
.halfling-rotate90 {
  transform: rotate(90deg);
}
.halfling-rotate180 {
  transform: rotate(180deg);
}
.halfling-rotate270 {
  transform: rotate(270deg);
}

.halfling-glass:before {
  content: "\E001";
}
.halfling-music:before {
  content: "\E002";
}
.halfling-search:before {
  content: "\E003";
}
.halfling-envelope:before {
  content: "\E004";
}
.halfling-heart:before {
  content: "\E005";
}
.halfling-star:before {
  content: "\E006";
}
.halfling-star-empty:before {
  content: "\E007";
}
.halfling-user:before {
  content: "\E008";
}
.halfling-film:before {
  content: "\E009";
}
.halfling-th-large:before {
  content: "\E010";
}
.halfling-th:before {
  content: "\E011";
}
.halfling-th-list:before {
  content: "\E012";
}
.halfling-ok:before {
  content: "\E013";
}
.halfling-remove:before {
  content: "\E014";
}
.halfling-zoom-in:before {
  content: "\E015";
}
.halfling-zoom-out:before {
  content: "\E016";
}
.halfling-off:before {
  content: "\E017";
}
.halfling-signal:before {
  content: "\E018";
}
.halfling-cog:before {
  content: "\E019";
}
.halfling-trash:before {
  content: "\E020";
}
.halfling-home:before {
  content: "\E021";
}
.halfling-file:before {
  content: "\E022";
}
.halfling-time:before {
  content: "\E023";
}
.halfling-road:before {
  content: "\E024";
}
.halfling-download-alt:before {
  content: "\E025";
}
.halfling-download:before {
  content: "\E026";
}
.halfling-upload:before {
  content: "\E027";
}
.halfling-inbox:before {
  content: "\E028";
}
.halfling-play-circle:before {
  content: "\E029";
}
.halfling-repeat:before {
  content: "\E030";
}
.halfling-refresh:before {
  content: "\E031";
}
.halfling-list-alt:before {
  content: "\E032";
}
.halfling-lock:before {
  content: "\E033";
}
.halfling-flag:before {
  content: "\E034";
}
.halfling-headphones:before {
  content: "\E035";
}
.halfling-volume-off:before {
  content: "\E036";
}
.halfling-volume-down:before {
  content: "\E037";
}
.halfling-volume-up:before {
  content: "\E038";
}
.halfling-qrcode:before {
  content: "\E039";
}
.halfling-barcode:before {
  content: "\E040";
}
.halfling-tag:before {
  content: "\E041";
}
.halfling-tags:before {
  content: "\E042";
}
.halfling-book:before {
  content: "\E043";
}
.halfling-bookmark:before {
  content: "\E044";
}
.halfling-print:before {
  content: "\E045";
}
.halfling-camera:before {
  content: "\E046";
}
.halfling-font:before {
  content: "\E047";
}
.halfling-bold:before {
  content: "\E048";
}
.halfling-italic:before {
  content: "\E049";
}
.halfling-text-height:before {
  content: "\E050";
}
.halfling-text-width:before {
  content: "\E051";
}
.halfling-align-left:before {
  content: "\E052";
}
.halfling-align-center:before {
  content: "\E053";
}
.halfling-align-right:before {
  content: "\E054";
}
.halfling-align-justify:before {
  content: "\E055";
}
.halfling-list:before {
  content: "\E056";
}
.halfling-indent-left:before {
  content: "\E057";
}
.halfling-indent-right:before {
  content: "\E058";
}
.halfling-facetime-video:before {
  content: "\E059";
}
.halfling-picture:before {
  content: "\E060";
}
.halfling-pencil:before {
  content: "\E061";
}
.halfling-map-marker:before {
  content: "\E062";
}
.halfling-adjust:before {
  content: "\E063";
}
.halfling-tint:before {
  content: "\E064";
}
.halfling-edit:before {
  content: "\E065";
}
.halfling-share:before {
  content: "\E066";
}
.halfling-check:before {
  content: "\E067";
}
.halfling-move:before {
  content: "\E068";
}
.halfling-step-backward:before {
  content: "\E069";
}
.halfling-fast-backward:before {
  content: "\E070";
}
.halfling-backward:before {
  content: "\E071";
}
.halfling-play:before {
  content: "\E072";
}
.halfling-pause:before {
  content: "\E073";
}
.halfling-stop:before {
  content: "\E074";
}
.halfling-forward:before {
  content: "\E075";
}
.halfling-fast-forward:before {
  content: "\E076";
}
.halfling-step-forward:before {
  content: "\E077";
}
.halfling-eject:before {
  content: "\E078";
}
.halfling-chevron-left:before {
  content: "\E079";
}
.halfling-chevron-right:before {
  content: "\E080";
}
.halfling-plus-sign:before {
  content: "\E081";
}
.halfling-minus-sign:before {
  content: "\E082";
}
.halfling-remove-sign:before {
  content: "\E083";
}
.halfling-ok-sign:before {
  content: "\E084";
}
.halfling-question-sign:before {
  content: "\E085";
}
.halfling-info-sign:before {
  content: "\E086";
}
.halfling-screenshot:before {
  content: "\E087";
}
.halfling-remove-circle:before {
  content: "\E088";
}
.halfling-ok-circle:before {
  content: "\E089";
}
.halfling-ban-circle:before {
  content: "\E090";
}
.halfling-arrow-left:before {
  content: "\E091";
}
.halfling-arrow-right:before {
  content: "\E092";
}
.halfling-arrow-up:before {
  content: "\E093";
}
.halfling-arrow-down:before {
  content: "\E094";
}
.halfling-share-alt:before {
  content: "\E095";
}
.halfling-resize-full:before {
  content: "\E096";
}
.halfling-resize-small:before {
  content: "\E097";
}
.halfling-plus:before {
  content: "\E098";
}
.halfling-minus:before {
  content: "\E099";
}
.halfling-asterisk:before {
  content: "\E100";
}
.halfling-exclamation-sign:before {
  content: "\E101";
}
.halfling-gift:before {
  content: "\E102";
}
.halfling-leaf:before {
  content: "\E103";
}
.halfling-fire:before {
  content: "\E104";
}
.halfling-eye-open:before {
  content: "\E105";
}
.halfling-eye-close:before {
  content: "\E106";
}
.halfling-warning-sign:before {
  content: "\E107";
}
.halfling-plane:before {
  content: "\E108";
}
.halfling-calendar:before {
  content: "\E109";
}
.halfling-random:before {
  content: "\E110";
}
.halfling-comments:before {
  content: "\E111";
}
.halfling-magnet:before {
  content: "\E112";
}
.halfling-chevron-up:before {
  content: "\E113";
}
.halfling-chevron-down:before {
  content: "\E114";
}
.halfling-retweet:before {
  content: "\E115";
}
.halfling-shopping-cart:before {
  content: "\E116";
}
.halfling-folder-close:before {
  content: "\E117";
}
.halfling-folder-open:before {
  content: "\E118";
}
.halfling-resize-vertical:before {
  content: "\E119";
}
.halfling-resize-horizontal:before {
  content: "\E120";
}
.halfling-hdd:before {
  content: "\E121";
}
.halfling-bullhorn:before {
  content: "\E122";
}
.halfling-bell:before {
  content: "\E123";
}
.halfling-certificate:before {
  content: "\E124";
}
.halfling-thumbs-up:before {
  content: "\E125";
}
.halfling-thumbs-down:before {
  content: "\E126";
}
.halfling-hand-right:before {
  content: "\E127";
}
.halfling-hand-left:before {
  content: "\E128";
}
.halfling-hand-top:before {
  content: "\E129";
}
.halfling-hand-down:before {
  content: "\E130";
}
.halfling-circle-arrow-right:before {
  content: "\E131";
}
.halfling-circle-arrow-left:before {
  content: "\E132";
}
.halfling-circle-arrow-top:before {
  content: "\E133";
}
.halfling-circle-arrow-down:before {
  content: "\E134";
}
.halfling-globe:before {
  content: "\E135";
}
.halfling-wrench:before {
  content: "\E136";
}
.halfling-tasks:before {
  content: "\E137";
}
.halfling-filter:before {
  content: "\E138";
}
.halfling-briefcase:before {
  content: "\E139";
}
.halfling-fullscreen:before {
  content: "\E140";
}
.halfling-dashboard:before {
  content: "\E141";
}
.halfling-paperclip:before {
  content: "\E142";
}
.halfling-heart-empty:before {
  content: "\E143";
}
.halfling-link:before {
  content: "\E144";
}
.halfling-phone:before {
  content: "\E145";
}
.halfling-pushpin:before {
  content: "\E146";
}
.halfling-euro:before {
  content: "\E147";
}
.halfling-usd:before {
  content: "\E148";
}
.halfling-gbp:before {
  content: "\E149";
}
.halfling-sort:before {
  content: "\E150";
}
.halfling-sort-by-alphabet:before {
  content: "\E151";
}
.halfling-sort-by-alphabet-alt:before {
  content: "\E152";
}
.halfling-sort-by-order:before {
  content: "\E153";
}
.halfling-sort-by-order-alt:before {
  content: "\E154";
}
.halfling-sort-by-attributes:before {
  content: "\E155";
}
.halfling-sort-by-attributes-alt:before {
  content: "\E156";
}
.halfling-unchecked:before {
  content: "\E157";
}
.halfling-expand:before {
  content: "\E158";
}
.halfling-collapse:before {
  content: "\E159";
}
.halfling-collapse-top:before {
  content: "\E160";
}
.halfling-log-in:before {
  content: "\E161";
}
.halfling-flash:before {
  content: "\E162";
}
.halfling-log-out:before {
  content: "\E163";
}
.halfling-new-window:before {
  content: "\E164";
}
.halfling-record:before {
  content: "\E165";
}
.halfling-save:before {
  content: "\E166";
}
.halfling-open:before {
  content: "\E167";
}
.halfling-saved:before {
  content: "\E168";
}
.halfling-import:before {
  content: "\E169";
}
.halfling-export:before {
  content: "\E170";
}
.halfling-send:before {
  content: "\E171";
}
.halfling-floppy-disk:before {
  content: "\E172";
}
.halfling-floppy-saved:before {
  content: "\E173";
}
.halfling-floppy-remove:before {
  content: "\E174";
}
.halfling-floppy-save:before {
  content: "\E175";
}
.halfling-floppy-open:before {
  content: "\E176";
}
.halfling-credit-card:before {
  content: "\E177";
}
.halfling-transfer:before {
  content: "\E178";
}
.halfling-cutlery:before {
  content: "\E179";
}
.halfling-header:before {
  content: "\E180";
}
.halfling-compressed:before {
  content: "\E181";
}
.halfling-earphone:before {
  content: "\E182";
}
.halfling-phone-alt:before {
  content: "\E183";
}
.halfling-tower:before {
  content: "\E184";
}
.halfling-stats:before {
  content: "\E185";
}
.halfling-sd-video:before {
  content: "\E186";
}
.halfling-hd-video:before {
  content: "\E187";
}
.halfling-subtitles:before {
  content: "\E188";
}
.halfling-sound-stereo:before {
  content: "\E189";
}
.halfling-sound-dolby:before {
  content: "\E190";
}
.halfling-sound-5-1:before {
  content: "\E191";
}
.halfling-sound-6-1:before {
  content: "\E192";
}
.halfling-sound-7-1:before {
  content: "\E193";
}
.halfling-copyright-mark:before {
  content: "\E194";
}
.halfling-registration-mark:before {
  content: "\E195";
}
.halfling-cloud:before {
  content: "\E196";
}
.halfling-cloud-download:before {
  content: "\E197";
}
.halfling-cloud-upload:before {
  content: "\E198";
}
.halfling-tree-conifer:before {
  content: "\E199";
}
.halfling-tree-deciduous:before {
  content: "\E200";
}
.halfling-cd:before {
  content: "\E201";
}
.halfling-save-file:before {
  content: "\E202";
}
.halfling-open-file:before {
  content: "\E203";
}
.halfling-level-up:before {
  content: "\E204";
}
.halfling-copy:before {
  content: "\E205";
}
.halfling-paste:before {
  content: "\E206";
}
.halfling-door:before {
  content: "\E207";
}
.halfling-key:before {
  content: "\E208";
}
.halfling-alert:before {
  content: "\E209";
}
.halfling-equalizer:before {
  content: "\E210";
}
.halfling-king:before {
  content: "\E211";
}
.halfling-queen:before {
  content: "\E212";
}
.halfling-pawn:before {
  content: "\E213";
}
.halfling-bishop:before {
  content: "\E214";
}
.halfling-knight:before {
  content: "\E215";
}
.halfling-baby-formula:before {
  content: "\E216";
}
.halfling-tent:before {
  content: "\E217";
}
.halfling-blackboard:before {
  content: "\E218";
}
.halfling-bed:before {
  content: "\E219";
}
.halfling-apple:before {
  content: "\E220";
}
.halfling-erase:before {
  content: "\E221";
}
.halfling-hourglass:before {
  content: "\E222";
}
.halfling-lamp:before {
  content: "\E223";
}
.halfling-duplicate:before {
  content: "\E224";
}
.halfling-piggy-bank:before {
  content: "\E225";
}
.halfling-scissors:before {
  content: "\E226";
}
.halfling-bitcoin:before {
  content: "\E227";
}
.halfling-yen:before {
  content: "\E228";
}
.halfling-ruble:before {
  content: "\E229";
}
.halfling-scale:before {
  content: "\E230";
}
.halfling-ice-lolly:before {
  content: "\E231";
}
.halfling-ice-lolly-tasted:before {
  content: "\E232";
}
.halfling-education:before {
  content: "\E233";
}
.halfling-option-horizontal:before {
  content: "\E234";
}
.halfling-option-vertical:before {
  content: "\E235";
}
.halfling-menu-hamburger:before {
  content: "\E236";
}
.halfling-modal-window:before {
  content: "\E237";
}
.halfling-oil:before {
  content: "\E238";
}
.halfling-grain:before {
  content: "\E239";
}
.halfling-sunglasses:before {
  content: "\E240";
}
.halfling-text-size:before {
  content: "\E241";
}
.halfling-text-color:before {
  content: "\E242";
}
.halfling-text-background:before {
  content: "\E243";
}
.halfling-object-align-top:before {
  content: "\E244";
}
.halfling-object-align-bottom:before {
  content: "\E245";
}
.halfling-object-align-horizontal:before {
  content: "\E246";
}
.halfling-object-align-left:before {
  content: "\E247";
}
.halfling-object-align-vertical:before {
  content: "\E248";
}
.halfling-object-align-right:before {
  content: "\E249";
}
.halfling-triangle-right:before {
  content: "\E250";
}
.halfling-triangle-left:before {
  content: "\E251";
}
.halfling-triangle-bottom:before {
  content: "\E252";
}
.halfling-triangle-top:before {
  content: "\E253";
}
.halfling-terminal:before {
  content: "\E254";
}
.halfling-superscript:before {
  content: "\E255";
}
.halfling-subscript:before {
  content: "\E256";
}
.halfling-menu-left:before {
  content: "\E257";
}
.halfling-menu-right:before {
  content: "\E258";
}
.halfling-menu-down:before {
  content: "\E259";
}
.halfling-menu-up:before {
  content: "\E260";
}
.halfling-building:before {
  content: "\E261";
}
.halfling-tick:before {
  content: "\E262";
}
.halfling-star-half:before {
  content: "\E263";
}
.halfling-hash:before {
  content: "\E264";
}
.halfling-directions:before {
  content: "\E265";
}
.halfling-gas:before {
  content: "\E266";
}
.halfling-snowflake:before {
  content: "\E267";
}
.halfling-sunlight:before {
  content: "\E268";
}
.halfling-selectbox:before {
  content: "\E269";
}
.halfling-sortable:before {
  content: "\E270";
}
.halfling-note-empty:before {
  content: "\E271";
}
.halfling-note:before {
  content: "\E272";
}
.halfling-direction-right:before {
  content: "\E273";
}
.halfling-direction-left:before {
  content: "\E274";
}
.halfling-direction-down:before {
  content: "\E275";
}
.halfling-direction-up:before {
  content: "\E276";
}
.halfling-parking:before {
  content: "\E277";
}
.halfling-coffee-cup:before {
  content: "\E278";
}
.halfling-record-empty:before {
  content: "\E279";
}
.halfling-move-square:before {
  content: "\E280";
}
.halfling-bug:before {
  content: "\E281";
}
.halfling-display:before {
  content: "\E282";
}
.halfling-direction:before {
  content: "\E283";
}
.halfling-group:before {
  content: "\E284";
}
.halfling-reflect-y:before {
  content: "\E285";
}
.halfling-reflect-x:before {
  content: "\E286";
}
.halfling-battery-charging:before {
  content: "\E287";
}
.halfling-battery-full:before {
  content: "\E288";
}
.halfling-battery-75:before {
  content: "\E289";
}
.halfling-battery-50:before {
  content: "\E290";
}
.halfling-battery-25:before {
  content: "\E291";
}
.halfling-battery-10:before {
  content: "\E292";
}
.halfling-paired:before {
  content: "\E293";
}
.halfling-rotate-right:before {
  content: "\E294";
}
.halfling-rotate-left:before {
  content: "\E295";
}
.halfling-list-numbered:before {
  content: "\E296";
}
.halfling-paragraph:before {
  content: "\E297";
}
.halfling-list-plus:before {
  content: "\E298";
}
.halfling-synchronization:before {
  content: "\E299";
}
.halfling-cube-black:before {
  content: "\E300";
}
